@import './../../../styles.scss';

:host {
  .addActivityModal {
    display: none;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 150px);
    &.show {
      display: block;
    }

    .body {
      height: 200px;
      width: 300px;
      display: flex;
      flex-direction: column;
      border: black solid 1px;


      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
      }

      .body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    .close{
      @include closeIcon();
      @include bigIcon();

      right: 10px;
    }
  }
}
