<form (submit)="OnInputFinish()" action="#">
  <input
    name="date"
    type="date"
    [ngModel]="date | date: 'yyyy-MM-dd'"
    (ngModelChange)="OnDateChange($event)"
    (blur)="OnInputFinish()"
  />
</form>
<span *ngFor="let entry of entries">
  <p>{{ entry.activity.name }} - {{ entry.amount }}</p>
</span>
<button (click)="OnAddEntry()">Add New Entry</button>

<div class="wrapper">
  <div class="header">
    <div class="header_control"><i class="fas fa-plus"></i></div>
    <div class="header_date_wrapper">
      <div class="header_date" *ngFor="let date of dates">
        <div>{{ getWeekdayName(date).substring(0, 3) }}</div>
        <div>{{ date.getDate() }}</div>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="row" *ngFor="let activity of activities"></div>
  </div>
</div>
